#barcode-config {
  #barcode-distribution-div {
    width: 100%;
    height: 100%;
    .panel-header {
      margin-bottom: 2rem;
      #node-label {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      hr {
        border: 0;
        border-top: 1px solid #eee;
      }
    }
    #distribution-content {
      position: absolute;
      bottom: 1rem;
      top: 5rem;
      right: 1rem;
      left: 1rem;
      overflow-y: auto;
      margin-top: -1.8rem;
      #distribution-histogram {
        font-weight: bold;
      }
      .distribution-levels {
        background-color: white;
      }
      //text {
      //  font-size: 1rem;
      //}
      .axis {
        stroke-width: 1px;
        path { /*x轴线*/
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
        line { /*x轴上刻度标*/
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
      }
      .brush .extent {
        stroke: #fff;
        stroke-opacity: .6;
        stroke-width: 2px;
        fill-opacity: .1;
        shape-rendering: crispEdges;
      }
    }
  }
}
