#histogram-view {
  //display: none;
  #histogram-main-panel {
    position: absolute;
    left: 0%;
    right: 2.5rem;
    top: 0%;
    bottom: 0%;
    text {
      font-size: 1rem;
    }
    .axis {
      stroke-width: 1px;
      path { /*x轴线*/
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      line { /*x轴上刻度标*/
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
    }
    .brush .extent {
      stroke: #fff;
      stroke-opacity: .6;
      stroke-width: 2px;
      fill-opacity: .1;
      shape-rendering: crispEdges;
    }
  }
  .lasso-selected {
    fill: @lasso-selected-color !important;
  }
  #histogram-control-panel {
    position: absolute;
    width: 2.5rem;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding-top: 1rem;
    .btn#clear-all {
      padding: 0.25rem 0.7rem;
    }
    .btn#color-picker {
      padding: 0.3rem 0.6rem;
    }
    #remove-all-text {
      font-size: 1.2rem;
    }
    #color-picker-text {
      font-size: 1.2rem;
    }
  }

}