#toolbar-view {
  #toolbar-navbar {
    min-height: @toolbar-view_height; // 3rem
    border-radius: 0px;
  }
  #toolbar-navbar-brand {
    height: @toolbar-view_height; // 3rem
    padding: 0.5rem 0.5rem 0.5rem 0.5rem; // 0.6rem 0.5rem 0.5rem 0.5rem;
    font-size: 1rem; // 1.3rem
    line-height: 1rem;
  }
  #toolbar-container {
    margin-right: 0px;
    margin-left: 0px;;
    width: 100%;
  }
  #options-container .toolbar-a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: @toolbar-view_height;
    line-height: 1rem;
  }
  #open-histogram-view {
    visibility: hidden;
  }
}