.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: -0.2rem;
  color: #fff;
  border-radius: 0.2rem;
  pointer-events: none !important;
  z-index: 101;
  #tip-content {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    _height: 3rem;
    _width: 20rem;
    #vertical-center {
      line-height: 3rem;
      vertical-align: middle;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      white-space:nowrap
    }
  }
}
.d3-tip-flip {
  line-height: 1;
  font-weight: bold;
  padding: -0.2rem;
  color: #fff;
  border-radius: 0.2rem;
  pointer-events: none !important;
  z-index: 101;
  #tip-content {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    _height: 3rem;
    _width: 20rem;
    #vertical-center {
      line-height: 3rem;
      vertical-align: middle;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      white-space:nowrap
    }
  }
}
.d3-tip-flip:before {
  box-sizing: border-box;
  display: inline;
  font-size: 1rem;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.7);
  content: "\25B2";
  position: absolute;
  text-align: center;
  pointer-events: none !important;
  z-index: 101;
}
/* Style northward tooltips differently */
.d3-tip-flip.n:before {
  margin: -0.2rem 0 0 0;
  bottom: 100%;
  left: 0;
  pointer-events: none !important;
  opacity: 0.3;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 0.5rem;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.7);
  content: "\25BC";
  position: absolute;
  text-align: center;
  pointer-events: none !important;
  z-index: 101;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -0.1rem 0 0 0;
  top: 100%;
  left: 0;
  pointer-events: none !important;
  opacity: 0.3;
}
div.tooltip {
  position: absolute;
  text-align: center;
  _width: 10rem;
  _height: 5rem;
  padding: 0.2rem;
  font: 1.2rem sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 0.8rem;
  pointer-events: none;
}
// histogram tooltip style
.d3-histogram-tip {
  line-height: 1;
  font-weight: bold;
  padding: -0.2rem;
  color: #fff;
  border-radius: 0.2rem;
  pointer-events: none !important;
  z-index: 101;
  #tip-content {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    _height: 3rem;
    _width: 20rem;
    #vertical-center {
      line-height: 3rem;
      vertical-align: middle;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      white-space:nowrap
    }
  }
  #tip-content-empty {
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    _height: 3rem;
    _width: 20rem;
    visibility: hidden;
    #vertical-center {
      line-height: 3rem;
      vertical-align: middle;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      white-space:nowrap;
    }
  }
}
.d3-histogram-tip-flip {
  line-height: 1;
  font-weight: bold;
  padding: -0.2rem;
  color: #fff;
  border-radius: 0.2rem;
  pointer-events: none !important;
  z-index: 101;
  #tip-content {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    _height: 3rem;
    _width: 20rem;
    #vertical-center {
      line-height: 3rem;
      vertical-align: middle;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      white-space:nowrap
    }
  }
  #tip-content-empty {
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    _height: 3rem;
    _width: 20rem;
    visibility: hidden;
    #vertical-center {
      line-height: 3rem;
      vertical-align: middle;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      white-space:nowrap;
    }
  }
}
.d3-histogram-tip-flip:before {
  box-sizing: border-box;
  display: inline;
  font-size: 0.5rem;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.7);
  content: "\25B2";
  position: absolute;
  text-align: center;
  pointer-events: none !important;
  z-index: 101;
}
/* Style northward tooltips differently */
.d3-histogram-tip-flip.n:before {
  margin: -0.1rem 0 0 0;
  bottom: 100%;
  left: 0;
  pointer-events: none !important;
  opacity: 0.3;
}
/* Creates a small triangle extender for the tooltip */
.d3-histogram-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 0.5rem;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.7);
  content: "\25BC";
  position: absolute;
  text-align: center;
  pointer-events: none !important;
  z-index: 101;
}
/* Style northward tooltips differently */
.d3-histogram-tip.n:after {
  margin: -0.1rem 0 0 0;
  top: 100%;
  left: 0;
  pointer-events: none !important;
  opacity: 0.3;
}

.tooltip-inner{
  padding: 0.5rem;
  width: 10rem;
  text-align: left;
  background-color: rgba(0,0,0,0.80);;
}
