#top-toolbar-container {
  padding-left: 20px;
  padding-top: 2px;
  .btn-group {
    margin-right: 35px;
  }
  #subtree-collapse-operation {
    margin-right: 15px;
  }
  #selection-operation-span {
    height: 100%;
  }
  .operation-container {
    position: absolute;
  }
  .config-panel-toggle {
    padding-left: 5px;
    padding-right: 5px;
  }
  .range-button {
    padding-left: 7px;
    padding-right: 7px;
  }
  .config-button {
    padding: 5px 7px 5px 7px;
  }
  .fa {
    font-size: 17px;
  }
  .operation-label {
    display: inline-block;
    vertical-align: middle;
  }
  .config-div {
    display: inline-block;
    vertical-align: middle;
  }
  #structure-comparison{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  #similarity-range{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .slider-div {
    margin: 10px 30px 20px 30px;
  }
  .slider-label{
    margin-left: 20px;
  }
}